@font-face {
    font-family: 'Hammersmith One';
    src: local('Hammersmith One'),
        url('./fonts/HammersmithOne-Regular.ttf');
}

@font-face {
font-family: 'Julius Sans One';
src: local('Julius Sans One'),
    url('./fonts/JuliusSansOne-Regular.ttf');
}
  