body {
    font-family: 'Hammersmith One', 'Julius Sans One', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: contents;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    
}

div {
    
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 250px 0px 0px 0px;
    
}

.image {
    margin-bottom: 10px;
    width: 80%;
    /* adjust as needed */
    height: auto;
}
button {
    border-color:  rgb(232, 246, 255);
    width: "100px";
    height: "100px";
}