.closeIcon {
    max-width: 64px;
    max-height: 64px;
    padding: 0px 0px 0px 15px;
}

.bordered {
    border-style: solid;
    margin: 0px 0px 0px 0px;
}

.burgerMenu {
    max-width: 64px;
    max-height: 64px;
    padding: 10px 0px 0px 0px;
}

.homeMenu {
    max-width: 64px;
    max-height: 64px;
}

.refreshIcon {
    max-width: 74px;
    max-height: 74px;
}

.burgerContainer {
    padding: 7px 0px 0px 0px;
}

.homeContainer {
    padding: 10px 0px 0px 0px;

}

.refreshContainer {
    padding: 10px 0px 0px 0px;

}

.autoUpdateContainer {
    padding: 10px 0px 0px 0px;
}

.box {
    padding: 0px 0px 0px 10px;
}




.navgrid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:0 auto;
    max-width: 400px;
}

/* 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
  }
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */