.header {
    text-align: center;
    font-family: 'Julius Sans One';
    font-size: 25px;
    color: '#21437D';
    
}

.three-columns-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin:0 auto;
    max-width: 400px;
}

.three-columns-grid > * {
    padding:1rem;
}

.col1 {
    border: solid;
}

.col2 {
    border: solid;
}

.col3 {
    border: solid;
}

.Collapsible {
    border-style: dotted;
}